<form {{action "submit" on="submit"}}>
   <p><label>Code {{textarea value=content}}</label></p>

   <button {{action "run"}}>Run</button>
   <input type="submit" {{bindAttr value=submitTitle}}>
</form>
