<form {{action "submit" on="submit"}}>
  <p><label>Your Code {{textarea value=content}}</label></p>

  <button {{action "run"}}>Cancel</button>
  <input type="submit" {{bindAttr value=submitTitle}}>
</form>
