<h1>{{solution.posse.name}}</h1>  
<pre class="hidden"><code class="language-ruby">
  {{solution.content}}
</code></pre>
<p>Points earned: {{solution.points_earned}}</p><hr>
<button>Like</button>
</button>Dislike</button>
