{{#each solution in solution}}
  <div class="box">
    <div class="update-box-left">
      <img class="circular" {{bind-attr src=solution.posse_image}} height="80px" width="80px">
      <span class="update-name">{{solution.posse}}</span><br/>
    </div>
    <div class="update-box-right">
      <span class="point-adjust">+{{solution.points_earned}}</span>
      <span class="update-title">points earned</span>
    </div>
  </div>
{{/each}}
