// This is hopefully a temporary solution, importing entire directories was not working
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,200,300);
@import "app/styles/utilities/variables";
@import "app/styles/utilities/mixins";
@import "app/styles/utilities/variables";

@import "app/styles/base/forms";
@import "app/styles/base/layout";
@import "app/styles/base/typography";

@import "app/styles/components/button";
@import "app/styles/components/inline_code";
@import "app/styles/components/logos";

@import "app/styles/modules/ankeiler";
@import "app/styles/modules/columns";
@import "app/styles/modules/footer";
@import "app/styles/modules/header";
@import "app/styles/modules/scores";
@import "app/styles/modules/outline_list";
@import "app/styles/modules/quote";
@import "app/styles/modules/text";
@import "app/styles/modules/solutions";

.posse-row-left {
  display: inline-block;
  width: 40%;
  padding: 10px;
}

/* PROBLEM PAGE */
.problem-text {
  border: 2px solid black;
  padding: 15px;
}

/*pre {*/
  /*height: 120px;*/
  /*background-color: black;*/
/*}*/

#editor {
  height: 160px;
}
