html, body {
  margin: 20px;
}

/* STATS PAGE */
.posse-row {
  border: 2px solid black;
  height: 100px;
}
.posse-pic img {
  height: 80px;
  width: 80px;
}
.posse-name {

}

.update-row {
  border: 2px solid black;
  height: 175px;
}
.update-pic img {
  height: 110px;
  width: 110px;
}
