.mod-problems {
  padding: 3.125em 2em 1em 2em;
  ul, ol {
    list-style: square;
    margin: 0.5em 0em 0.5em 2em;
    li {
      margin: 0.5em 0em;
    }
  }
  .layout-inner-wrap {
    min-width: 90%;
  }
  h1, h2, h3, h4, h5, p {
    margin: 0 auto;
    line-height: 27px;
  }
  h1, h2, h3, h4, h5 {
    margin: 0.2em 0em 0.1em 0em;
  }
  h1 {
    margin-bottom: 1em;
    font-size: 2.8em;
    font-weight: $font-weight-light;
    color: #05c2d1;
  }
  h2 {
    font-size: 3em;
    font-weight: 100;
    margin: 1em 0em 0em 0em;
    color: #656565;
    text-align: center;
  }
  h3 {
    font-size: 1.8em;
    color: #05c2d1;
    line-height: 1.8em;
    margin: 0.8em 0em 0.1em 0em;
  }
  h4 {
    font-size: 1.4em;
    line-height: 1.4em;
    font-style: italic;
    margin: 0.6em 0em 0.1em 0em;
  }
  h5 {
    font-size: 1.6em;
    line-height: 1.8em;
    .date {
      color: $blue;
    }
  }
  p, li {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.5em;
  }
  img{
    vertical-align: text-bottom;
  }

}

.col-problem {
  float: left;
  width: 50%;
  padding-left: 2.3%;
  padding-right: 5%;
  padding-bottom: 50px;
  @media all and (max-width: 960px) {
    width: 100%;
  }
}

.col-solution {
  float: right;
  width: 50%;
  text-align: left;
  padding-right: 2.3%;
  padding-left: 5%;
  padding-bottom: 50px;

  @media all and (max-width: 960px) {
    display: none;
  }
}

.box{
  padding: .5%;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 5px 5px 5px #888888;
  position: relative;
  background: #262626;
  border-bottom: solid 4px #05c2d1;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
}
