.mod-scores {
  ul, ol {
    list-style: square;
    margin: 0.5em 0em 0.5em 2em;
    li {
      margin: 0.5em 0em;
    }
  }
  padding: 0em 2em 1em 2em;
  .layout-inner-wrap {
    min-width: 90%;
  }
  h1, h2, h3, h4, h5, p {
    margin: 0 auto;
    line-height: 27px;
  }
  h1, h2, h3, h4, h5 {
    margin: 0.2em 0em 0.1em 0em;
  }
  h1 {
    margin-bottom: 1em;
    font-size: 2.8em;
    font-weight: $font-weight-light;
    color: $blue;
  }
  h2 {
    font-size: 3em;
    font-weight: 100;
    margin: 1em 0em 0em 0em;
    color: #656565;
    text-align: center;
  }
  h3 {
    font-size: 1.8em;
    color: $blue;
    line-height: 1.8em;
    margin: 0.8em 0em 0.1em 0em;
  }
  h4 {
    font-size: 1.4em;
    line-height: 1.4em;
    font-style: italic;
    margin: 0.6em 0em 0.1em 0em;
  }
  h5 {
    font-size: 1.6em;
    line-height: 1.8em;
    .date {
      color: $blue;
    }
  }
  p, li {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.5em;
  }
  img{
    vertical-align: text-bottom;
  }
}

.col-article {
  float: left;
  width: 75%;
  @media all and (max-width: 960px) {
    width: 100%;
  }
}

.col-sidebar {
  float: right;
  width: 22.5%;
  text-align: left;
  padding-left: 2.5%;
  @media all and (max-width: 960px) {
    display: none;
  }
}

.leaderboard{
  padding-top: 25px;
  padding-bottom: 25px;
}

.updates{
  padding-top: 25px;
  padding-bottom: 25px;
}

.box{
  border-radius: 5px 5px 0px 0px;
  box-shadow: 5px 5px 5px #888888;
  position: relative;
  background: #262626;
  border-bottom: solid 4px #05c2d1;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.posse-box-left{
  display: inline-block;
  width: 40%;
  padding: 10px;
}

.update-box-left{
  display: inline-block;
  width: 40%;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.posse-box-right{
  display: inline-block;
  width: 55%;
  padding: 5px;
}

.update-box-right{
  position: absolute;
  display: inline-block;
  width: 55%;
  padding: 5px;
  padding-top: 10px;
}

.progress-bar-turing{
  background-color: #05c2d1;
}

.update-title{
  font-size: 24px;
}

.point-adjust{
  font-size: 48px;
  color: #05c2d1;
}

.countdown{
  width: 25%;
  margin: 0 auto;
  padding-top: 50px;
}
