<div class="mod-scores">
  <div class="col-md-12">
    <h2>Solutions</h2>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 solutions">
        {{#each solution in model}}
          {{solution-box solution=solution}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
