<div class="row">
  <div class="col-md-6">
    <h2>Problem</h2>
    <div class="problem-text"><p>A palindromic number reads the same both ways.
      The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.
      Find the largest palindrome made from the product of two 3-digit numbers.</p>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Solution</h2>
  </div>
</div>
