<div class="mod-problems">
  <div class="col-md-6 col-problem">
    <h1>Problem</h1>
    <div class="box">
      <p id="problem">{{model.content}}</p>
    </div>
  </div>
  <div class="col-md-6 col-solution">
    <h1>Solution</h1>
    {{code-box submit="createSolution"}}
  </div>
</div>
