<header class="mod-header">
  <div class="layout-wrap">
    <h1>
      <a href="http://turing.io">Turing School of Software & Design</a>
    </h1>
    <nav>
      <ul>
        <li>
          {{link-to 'Problems' 'problems'}}
        </li>
        <li>
          {{link-to 'Solutions' 'solutions'}}
        </li>
        <li class="active">
          {{link-to 'Scores' 'scores'}}
        </li>
        <li>
          <a href='/' onClick="window.open('http://localhost:3000/auth/github', '_blank')">Sign In with Github</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
