<div class="row">
  <div class="col-md-6">
    <div id="leaderboard-title"><h2>Leaderboard</h2></div>
    <div class="posse-row">
      <div class="posse-row-left">
        <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
        <span class="posse-name">Knuth Posse</span>
      </div>
      <div class="posse-row-right">
        <span class="posse-score">|===============================| 9000</span>
      </div>
    </div>
    <div class="posse-row">
      <div class="posse-row-left">
        <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
        <span class="posse-name">McCarthy Posse</span>
      </div>
      <div class="posse-row-right">
        <span class="posse-score">|=======================| 5000</span>
      </div>
    </div>
    <div class="posse-row">
      <div class="posse-row-left">
        <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
        <span class="posse-name">Backus Posse</span>
      </div>
      <div class="posse-row-right">
        <span class="posse-score">|==================| 4000</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Updates</h2>
    <div class="update-row">
      <div class="update-row-left">
        <span class="update-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      </div>
      <div class="update-row-right">
        <span class="update-name">Backus Posse</span><br/>
        <span class="point-adjust">+75</span>
        <span class="update-title">First Blood!</span>
      </div>
    </div>
    <div class="update-row">
      <div class="update-row-left">
        <span class="update-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      </div>
      <div class="update-row-right">
        <span class="update-name">Backus Posse</span><br/>
        <span class="point-adjust">+75</span>
        <span class="update-title">First Blood!</span>
      </div>
    </div>
    <div class="update-row">
      <div class="update-row-left">
        <span class="update-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      </div>
      <div class="update-row-right">
        <span class="update-name">Backus Posse</span><br/>
        <span class="point-adjust">+75</span>
        <span class="update-title">First Blood!</span>
      </div>
    </div>
  </div>
</div>
