<div class="row">
  <div class="col-md-6">
    <div id="leaderboard-title"><h2>Leaderboard</h2></div>
    <div class="posse-row">
      <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      <span class="posse-name">Knuth Posse</span>
      <span class="posse-score">9000 |===============================|</span>
    </div>
    <div class="posse-row">
      <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      <span class="posse-name">Von Neumann Posse</span>
      <span class="posse-score">5000 |=======================|</span>
    </div>
    <div class="posse-row">
       <span class="posse-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      <span class="posse-name">Backus Posse</span>
      <span class="posse-score">4000 |===================|</span>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Updates</h2>
    <div class="update-row">
      <span class="update-pic"><img src="http://i37.photobucket.com/albums/e60/LOTHTKirk/orange_iguanas.jpg" /></span>
      <span class="update-name">Backus Posse</span>
      <span class="point-adjust">+75</span>
      <span class="update-title">First Blood!</span>
    </div>
    <div class="update-row">
      This is an update row
    </div>
    <div class="update-row">
      This is an update row
    </div>
  </div>
</div>
